@media (max-width: 600px) {

    body {
        width: 600px;
    }

    .brand-name img {
        width: 30px;
        height: 30px;
        margin: 0px;
        padding: 0px;
    }

    .menu-button {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .navbar {

        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-li a {
        padding: 10px 20 px;
    }

    /* Explore your travel */


    .banner1 h2 {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        margin: 0px;
        padding: 30px;
    }

    .banner1 p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
        padding: 10px;
    }

    .form {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        margin: 0 50px;
    }

    .form-box {
        width: 255px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        border: 0;
        padding: 0px;
        text-align: center;
        margin: 10px;
    }

    #form-btn {
        width: 255px;
        height: 52px;
        flex-shrink: 0;
        margin-top: 10px;

    }

    /* Our Popular Tours */


    .tour-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 100px;
        gap: 20px;
        padding: 0px;
    }

    .tour-sec h2 {
        color: #131318;
        text-align: left;
        font-family: Mulish;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: .5;
    }

    .tour-sec p {

        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
    }

    .tour-sec ul {

        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }

    .tour-sec img{
        width: 400px;
}