@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Mulish&family=Open+Sans:wght@400;800&display=swap');

font-family: 'Inter',
sans-serif;
font-family: 'Merriweather',
serif;
font-family: 'Mulish',
sans-serif;
font-family: 'Open Sans',
sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-name {
    display: flex;
    align-items: center;
    padding: 40px 100px;
    gap: 10px;
}

.brand-name img {
    width: 48px;
    height: 48px;
}

.nav-text {
    padding: 0px;
    margin: 0px;
}

.nav-text h2 {
    color: #131318;
    font-family: 'Mulish';
    font-size: 36px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    line-height: .6;
}

#sub-text {
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}

.nav-links ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    gap: 20px;
}

.nav-links li {
    list-style: none;
    padding: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

.nav-links li:hover {
    background-color: #a8bdc4;
}

.menu-button {
    position: absolute;
    display: none;
    top: 50px;
    right: 50px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.menu-button .bar {
    height: 3px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
}

/* Explore your Travel section */


.banner1 {
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png) center/cover no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 0 100px;
}

.banner1 h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    margin: 0px;
}

.banner1 p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 300px 30px 300px;
    margin: 0;
}

.form {
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
}

.form-box {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 10px;
}

#form-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 15px;
}

#search-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Our Popular Tours */

.tour-sec {
    display: flex;
    justify-content: space-around;
    margin: 70px 100px;
    gap: 70px;
}

.tour-sec h2 {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: .3;
}

.tour-sec p {

    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.tour-sec ul {

    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 10px 10 0px;
}

.tour-sec button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    padding: 0px;
}